* {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font: 1.2em sans-serif;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

.page-header,
.page-footer {
  background-color: rgb(75 70 74);
  color: white;
  padding: 3rem;
}

.page-body {
  padding: 3rem;
}

.page-footer {
  text-align: center;
}

#my-dialog {
  height: 100%;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  transition: margin-left 0.7s allow-discrete;
  width: 20rem;

  &:not([open]) {
    margin-left: -23rem;
  }

  @starting-style {
    margin-left: -23rem;
  }
}
